@media screen and (min-width: 480px) {

  /************************************
  TWO COLUMN LAYOUT
  *************************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /************************************
  PAGE: MINDFULNESS IN ACTION
  *************************************/

  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(5n) {
    clear: left;
  }

 /************************************
  PAGE: ABOUT
  *************************************/

  .profile-photo {
    margin: 0 5% 80px 0;
  }
}

@media screen and (min-width: 660px) {

  /************************************
  HEADER
  *************************************/
    nav {
      background: none;
      float: right;
      font-size: 1.25em;
      text-align: right;
      width: 45%;
    }

    #logo {
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;
    }
    h1 {
      font-size: 2.75em;
    }
    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
 }